sudo: false
dist: trusty
language: erlang
otp_release:
  - 20.0.1
before_install:
  - if test osx = "${TRAVIS_OS_NAME:?}"; then export HOMEBREW_CACHE="$HOME/Library/Caches/Homebrew"; fi
  - if test osx = "${TRAVIS_OS_NAME:?}"; then brew update; fi
  - if test osx = "${TRAVIS_OS_NAME:?}"; then brew install erlang && export PATH="$(brew --prefix erlang)"/bin:"$PATH"; fi
  - erl -version
  - epmd -daemon
  - ./ci before_install "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
install:
  - ./ci install "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
script:
  - ./ci script "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
after_failure:
  - ./ci after_failure "${JOB:?}" "${TRAVIS_BUILD_DIR:?}"
deploy:
  provider: releases
  api_key:
    # See https://docs.travis-ci.com/user/deployment/releases/#Authenticating-with-an-OAuth-token
    secure: XO5ny1yJUZ4Q/2HexeTkR4YwGSbROYTlIi0n20n4CWnSvkFO5wUwUHqQwUa6ZCHc1h/KxR2AKvYF2yeKj60mpXFtzbfBVzk/HD0F9AfHs33zP/aOl8eMNPBdVKXAebH0fM1Ebt91odyj2+SC2XDJWuXVTIAtjebRquW44YZyjTSg9/+5CYt/QhQC7x0PAzlBxIsA6pS65Z/IU4bZIHi7t+adaAOVT0xrqPvXaW86lTsMXAKWk7ojZs2YaovgykzIiBlDzwqK2oRFNj/XZdk8yMR5yNVv71Bja4mEt3V9zqFGXHOMlkKK47zGowmhoL3uJKMuuH22M6YzUKZaniOfQKJ+GlKahSNm5Ak6yk14f6wf9UQkT/3YROg597509T5RGF7VEdtsLCk2/tb2MFksHqyrWVOj0YPB/t48nX7zHFXJnXogDGwKsLpyRfB9cIt7MKCQEVfc3woqVD2dQvA/sv2b+Pw7ISZm4A8iM435hn3f5ho7p5eJtyW2U6wZ+VlEmOfJxINz1qNmCeij1uQQ7+3y+8xB+nHo7BSsIb49zTiynroo9Byutk8tqTmjU+CGaSTBdO7wdMOLqc4crn/xeTJEygT7mXa4zfqE/JOYOkbkysAr1cg45kF+5oHTCRuZZ9LIx2LRhG2YZnjp0kVb6KXuwtyiEEdhqaBWrSqwtnI=

  file_glob: true
  file: _build/prod/rel/epoch/epoch-*-*.tar.gz
  skip_cleanup: true
  on:
    # See https://docs.travis-ci.com/user/deployment#Conditional-Releases-with-on%3A
    repo: velzevur/epoch
    tags: true
    all_branches: true # Workaround for Travis - see https://github.com/travis-ci/travis-ci/issues/1675#issuecomment-37851765
    condition: "${JOB:?} = package"
matrix:
  include:
    - os: osx
      osx_image: xcode8.3 # [`xcode8.3` is Xcode 8.3.3 on OS X 10.12](https://docs.travis-ci.com/user/reference/osx#OS-X-Version)
      language: generic
      env: JOB=package
    - if: tag IS present # additional JOB to run the release acceptance test for releases only
      env: JOB=acceptance-test
    - if: tag IS present # additional JOB to run the release acceptance test for releases only
      env: JOB=acceptance-test
      os: osx
      osx_image: xcode8.3 # [`xcode8.3` is Xcode 8.3.3 on OS X 10.12](https://docs.travis-ci.com/user/reference/osx#OS-X-Version)
      language: generic
  allow_failures:
    - env: JOB=xref
  fast_finish: true
env:
  - JOB=test
  - JOB=dialyzer
  - JOB=xref
  - JOB=check_rels
  - JOB=package
cache:
  directories:
    - $HOME/.cache/rebar3
    - $HOME/Library/Caches/Homebrew
